
<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<%= link_to 'New Service', new_service_path %>

<table>
  <tbody>
    <%= @services.each do |service| %>
      <div class="card-services">
        <!-- <div class="image"><%= image_tag(service.image_url)%></div> -->
          <div class="card-services-infos">
              <div class= "name">
                <%= service.name %>
              </div>
              <div class= "description">
                <p><%= sanitize(service.description) %></p>
              </div>
              <div class= "description2">
                <p><%= sanitize(service.description2) %></p>
              </div>
          </div>
        </div>
      </div>
    <% end %>

   <!--  <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.description2 %></td>
        <td><%= service.image_url %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %> -->
  </tbody>
</table>
