<p id="notice"><%= notice %></p>

<p>
  <strong> name:</strong>
  <%= @service. name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Description2:</strong>
  <%= @service.description2 %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @service.image_url %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
